
<p> 
<strong>First Name: </strong> 
<%=current_user.first_name%>
</p>

<p>
<strong>Last Name: </strong> 
<%=current_user.last_name%>
</p>

<p> 
<strong>Email: </strong> 
<%=current_user.email%>
</p>

<p> 
<strong>Gender: </strong> 
<%=current_user.gender%>
</p>

<p> 
<strong>Nationality: </strong> 
<%=current_user.country%>
</p>